*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.menu-container{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 12px;
}

.menu{
    color: #cccccc;
    width: 1350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

.menu-items{
    display: flex;
    gap: 24px;
}

.logo{
    font-family: 'Bungee', cursive;
    font-size: 24px;
    color: #F9FAF8;
}


.hero-container{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section{
    width: 1350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 86px 24px;
    gap: 24px;
}

.hero-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 18px;
    color: #E5E7EB;
}

.hero-content>div>h2{
    font-size: 36px;
    font-weight: 900;
}

.hero-content>div>p{
    font-size: 16px;
    font-weight: 400;
}

.hero-content>div>button{
    width:96px;
    height:36px;
    border: 0;
    border-radius: 4px;
    color: #E5E7EB;
    font-weight: bold;
    background-color: #3882f2;
}

.hero-image{
    width: 50%;
}

.hero-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 2/1;
    border-radius: 4px;
}

.info-container{
    background-color: white;
    display: flex;
    justify-content: center;
}

.info{
    width: 1350px;
    display: flex;
    flex-direction: column;
    padding: 86px 24px;
    gap: 36px;
}

.info-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.info-heading>p{
    color: #808080;
    text-align: center;
    font-style: italic;
}

.info-heading>h3{
    color: #1F2937;
    font-size: 36px;
}

.info-content{
    display: flex;
    gap: 24px;
}

.info-items{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}

.info-img{
    border-radius: 8px;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.link{
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#808080;
}

.link:hover{
    color: #3882f2;
}
  
.gg-chevron-right{
    --ggs:.8;
}
  
.link i{
    margin-left:-2px;
}

.category-heading{
    margin-top: 16px;
}

.quote-container{
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
}

.quote-content{
    display: flex;
    width: 1000px;
    flex-direction: column;
    margin:96px 148px 86px 148px;
    gap: 12px;
}

.quote-content p{
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.quote-content strong{
    color: #1F2937;
    font-size: 24px;
    font-weight: 500;
    align-self: flex-end;
}

.cta-container{
    background-color: white;
    display: flex;
    justify-content: center;
}

.cta-section{
    display: flex;
    width: 1000px;
    color: white;
    background-color: #3882f2;
    margin: 96px 86px;
    padding:32px 48px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
}

.cta-content{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.cta-button{
    border: 2px solid white;
    border-radius: 6px;
    background-color: #3882f2;
    color: white;
    font-size: 14px;
    font-weight: 500;
    height: 42px;
    padding:0 32px;
}

.footer-container{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    padding: 18px;
    word-spacing: 4px;
}